@font-face {
	font-family: "Londrina Solid";
	font-display: block;
	src: url(../../assets/font/LondrinaSolid-Regular_2559d0ac8f71ef2d2b8a3cf5321c31bf.woff) format("woff");
	font-style: normal;
	font-weight: 400;
}
